  a:link { color: green;
    text-decoration: none;
    }

  a:visited { color: green;
    text-decoration: none;
    }

  a:hover { color: white;
    text-decoration: none;
    }
    
BODY {
 text-align: center; 
 background-repeat: no-repeat;
 background-color: black;
 color: white;
 }


  #head {
    text-align: center;
    width: 1000px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    }
    
  #logo {
    border: none;
    position: relative;
    top: 5px;
    left: 20px;
  	float: left;
    }
    
    
   #navlist li {
    position: relative;
    display: inline-block;
    display: -moz-inline-block;
    font-family: monospace;
    line-height: 2em;
    top: 55px;
    right: 30px;
    float: right;
    width: 100px;
    height: 25px;
    font-size: normal;
    background-color: black;
    text-shadow: 1px 1px #556B2F;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 2px #FFFFFF inset;

    }
    
 
    #navlist a {
        color: #00FF00;
    }
    
    .current{
    color: green;
    }


  
    .container {
    border-radius: 5px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
	width: 1000px;
	overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    }

  #content {
  	width: 980px;
    min-height: 300px;
    padding: 10px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    background-color: black; 
    }    
    
    #about {
  	width: 980px;
    min-height: 300px;
    padding: 10px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    background-color: black;  
    line-height: 2em;
    }  
    
    #terminal {
  	width: 980px;
    min-height: 300px;
    _height: 300px;
    padding: 8px;
    border-radius: 2px;
    margin: 2px 2px 2px 2px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    background-color: black; 
    }

  .footlist li { 
  display: inline;
    padding-left: 20px;
    text-shadow: rgb(51, 51, 51) 3px 3px 3px ;
    font-size: larger;
    color: grey;
    }
    
  .footlist a{ 
    color: grey;
    }
    
  .cpic { 
    float: right;
    margin: 10px;
    }
    
    .footer {
    position: relative;
    top: 5px;
    width: 1000px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    font-family: Times New Roman,Times,serif;
    padding-bottom: 10px;
    font-size: 50%;
    }


