* { box-sizing: border-box; }

  a:link { color: green;
    text-decoration: none;
    }

  a:visited { color: green;
    text-decoration: none;
    }

  a:hover { color: white;
    text-decoration: none;
    }

BODY {
 text-align: center;
 background-repeat: no-repeat;
 background-color: black;
 color: white;
 margin: 0;
 padding: 0;
 font-size: 133%;
 }


  #head {
    text-align: center;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    }
    
  #logo {
    border: none;
    }

   #navlist {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    }

   #navlist li {
    display: inline-block;
    font-family: monospace;
    line-height: 2em;
    padding: 0 12px;
    height: 25px;
    font-size: 0.9em;
    background-color: black;
    text-shadow: 1px 1px #556B2F;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 2px #FFFFFF inset;
    white-space: nowrap;
    }

    #navlist a {
        color: #00FF00;
    }
    
    .current{
    color: green;
    }


  
    .container {
    border-radius: 5px;
    position: relative;
    margin: 0 auto;
    background-color: black;
    width: 100%;
    max-width: 1000px;
    overflow: auto;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    }

  #content {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    background-color: black;
    }

    #about {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    font-family: monospace;
    color: #00FF00;
    text-align: left;
    background-color: black;
    line-height: 2em;
    }

    #terminal {
    width: 100%;
    min-height: 300px;
    padding: 15px;
    border-radius: 2px;
    font-family: monospace;
    font-size: 1em;
    color: #00FF00;
    text-align: left;
    background-color: black;
    word-wrap: break-word;
    overflow-wrap: break-word;
    }

  .footlist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px 15px;
    }

  .footlist li {
    text-shadow: rgb(51, 51, 51) 3px 3px 3px;
    font-size: 0.85em;
    color: grey;
    }

  .footlist a{
    color: grey;
    }

  .cpic {
    float: right;
    margin: 10px;
    }

    .footer {
    position: relative;
    width: 100%;
    max-width: 1000px;
    text-align: center;
    margin: 15px auto;
    background-color: transparent;
    font-family: Times New Roman,Times,serif;
    padding: 10px;
    font-size: 80%;
    }

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  #head {
    padding: 15px 10px;
  }

  #navlist {
    gap: 8px;
  }

  #navlist li {
    padding: 0 8px;
    font-size: 0.8em;
  }

  .container {
    margin: 0 10px;
    width: calc(100% - 20px);
  }

  #terminal {
    padding: 12px;
    font-size: 0.9em;
    min-height: 200px;
  }

  .footer {
    padding: 15px 10px;
  }

  .footlist {
    gap: 8px 12px;
  }

  .footlist li {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 480px) {
  #navlist li {
    padding: 0 6px;
    font-size: 0.75em;
  }

  #terminal {
    padding: 10px;
    font-size: 0.85em;
  }

  .footlist li {
    font-size: 0.7em;
  }
}


